# COURSERA TORONTO

In [125]:
import pandas as pd
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

df.head()
df.shape

(288, 3)

In [173]:
## drop unassigned
df_1=df[df['Borough']!="Not assigned"]
#combine same postal
df_1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df_1
# Not assigned Neighbourhood
df_1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']
df_1=df_1.reset_index()

In [174]:
 df_1.shape

(103, 3)

In [166]:
#load data from csv
df_2=pd.read_csv("http://cocl.us/Geospatial_data")
df_2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [169]:
#Join
df_3 = df_1.join(df_2, a.a_id == b.b_id).drop(b.b_id)

AttributeError: 'DataFrame' object has no attribute 'df_1_id'